/* Ini CSS */

main {
    padding: 32px;
}


.nav-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {
    color: black;
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;
      }
    
    nav ul {
        flex-direction: column;
        width: 100%;
      }
    
    nav ul li:last-of-type {
        padding-bottom: 8px;
      }
    
    nav ul.hidden {
        display: none;
      }

    .menu-icon {
        display: flex;
        align-items: center;
    }
}
.logo-icon {
    height: 50px;
    width: 50px;

    /* For image icon */
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.Eu08-jIB3t4MF1dF29yQGAHaHa&pid=Api&P=0&h=180);
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid;
}

.banner-container {
    height: 350px;
    width: 100%;
    border: 1px solid;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    text-align: center;
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 50px;
    width: 50px;
    border: 1px solid;

    /* For image icon */
    background-size: cover;
    border-radius: 50%;
}

.profile-1 {
    background-image: url(../assets/1.jpeg);
}

.profile-2 {
    background-image: url(../assets/2.jpeg);
}

.profile-3 {
    background-image: url(../assets/3.jpeg);
}

.divider {
    flex: 2;
}