/* Ini CSS */

main {
    padding: 32px;
}

body {
    background-color: rgb(15, 8, 37);
}

/* Navigation Bar */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(51, 80, 122);
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(51, 81, 122, 0);
}

nav ul li a:hover {
    color: rgb(51, 80, 122);
    border-bottom: 1px solid rgb(51, 80, 122);
}

.menu-icon {
    /* background-color: tomato; */
    font-size: 24px;
    display: none;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }
}
.logo-icon {
    height: 50px;
    width: 50px;

    /* For image icon */
    background-image: url(../assets/7.jpeg);
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid;
}

/* Home Header */
section#home {
    padding: 3rem 2rem;
    padding-bottom: 75px;
}

section#profile {
    padding: 1rem 2rem;
    padding-bottom: 50px;
}

/* css font style */
h1 {
    font-family: math;
    font-weight: bold;
    font-size: xx-large;
    color: aliceblue;
}

p {
    font-weight: bolder;
    font-family: system-ui;
    color: rgb(193, 198, 223);
}

td {
    font-family: system-ui;
    font-weight: 600;
    color: rgb(193, 198, 223);
}

/* css banner autoslide */
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}



.container {
    padding: 100px 0 0 0;
}

/* Slideshow container */
.content-slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 540px;
    width: 960px;
}

.imgslide {
    display: none;
}

img {
    vertical-align: middle;
    width:100%;height: 400px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8); 
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.text {
    color: #fafafa;
    font-size: 35px;
    padding: 6px 9px;
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.desc-banner {
    font-weight: bolder;
    font-family: system-ui;
    color: rgb(193, 198, 223); 
    font-size: 15px;
    padding: 4px 6px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
}

.content-slide .numberslide {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* resposive */

@media screen and (max-width: 768px) {

    .content-slide {
        padding: 8px 50px 12px 50px;
    }

    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }    
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }    
    to {
        opacity: 1;
    }
}

.container .page {
    text-align: center;
    padding-top: 20px;
}

.page .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover {
    background-color: #ce0000;
}

/* css our profile */
.profile-content {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.profile-item {
    text-align: center;
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 50px;
    width: 50px;
    border: 1px solid;

    /* For image icon */
    background-size: cover;
    border-radius: 50%;
}

.profile-1 {
    background-image: url(../assets/1.jpeg);
}

.profile-2 {
    background-image: url(../assets/2.jpeg);
}

.profile-3 {
    background-image: url(../assets/3.jpeg);
}

.divider {
    flex: 2;
}

/** css footer **/
.judul-footer {
    font-family: math;
    font-weight: 200;
    font-size: small;
    color: rgb(193, 198, 223);
}

.desc-footer {
    font-weight: 400;
    font-size: smaller;
    font-family: math;
    color: rgb(193, 198, 223);
}